@keyframes shake {
  0% { transform: translate(3px, 3px) rotate(0deg); }
  10% { transform: translate(-3px, -4px) rotate(-2deg); }
  20% { transform: translate(-5px, 2px) rotate(2deg); }
  30% { transform: translate(5px, 4px) rotate(0deg); }
  40% { transform: translate(3px, -3px) rotate(2deg); }
  50% { transform: translate(-3px, 4px) rotate(-2deg); }
  60% { transform: translate(-5px, 3px) rotate(0deg); }
  70% { transform: translate(5px, 3px) rotate(-2deg); }
  80% { transform: translate(-3px, -3px) rotate(2deg); }
  90% { transform: translate(3px, 4px) rotate(0deg); }
  100% { transform: translate(3px, -4px) rotate(-2deg); }
}

html{
  font-size: 1rem;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.jumpscare{
  animation: shake 0.2s;
  animation-iteration-count: infinite;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.start-wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-container{
  text-align: center;
}

*{
  font-family: Varela Round;
}

.quiz-header{
  font-size: 2rem;
}

.wrapper{
  text-align: center;
}

.quiz-wrapper{
  margin: 1rem;
}

.start-button{
  cursor: pointer;
  font-size: 1.5rem;
  background: #00db28;
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 5px grey;
}
